.sign-in-up-background {
    background-color: #F2F2F2;
    margin: 0px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    .sign-in-up {
        width: 850px;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 1000px) {
    .sign-in-up {
        width: 100%;
        flex-direction: column;
    }
}