.checkout-background {
  background-color: #F2F2F2;
  margin: 0px 10px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  .checkout-page {
    width: 55%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 60px;
  
    .checkout-header {
      width: 100%;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid darkgrey;
  
      .header-block {
        text-transform: capitalize;
        width: 23%;
  
        &:last-child {
          width: 8%;
        }
      }
    }
  
    .total {
      margin-top: 30px;
      margin-left: auto;
      font-size: 36px;
    }

    button {
      margin-left: auto;
      margin-top: 50px;
    }

    .test-warning {
      text-align: center;
      margin-top: 40px;
      font-size: 24px;
      color: red;
    }

    .empty-cart {
      text-align: center;
      margin-top: 40px;
      font-size: 24px;
      width: 100%;
      padding: 10px 0;
      border-bottom: 1px solid darkgrey;
    }
  }
}

@media screen and (max-width: 1000px) {
  .checkout-background {
    padding: 0 5px 5px 5px;

    .checkout-page {
      width: 100% !important;
      padding: 0px;
  
      .checkout-header {
        width: 100%;
  
        .header-block {
          &:last-child {
            width: unset;
          }
        }
      }
  
      .total {
        font-size: 32px;
      }
  
      .test-warning {
        font-size: 22px;
      }
    }
  }
}
  